{% extends 'hospatientindex.html' %}
{% block content %}
<html>
    <head>
        <title>Ambulance table</title>
    </head>
    <body>
        <h2>Ambulance data</h2>
        <table border ="2">
            <tr>
                <th>Ambulance_Category</th>
                <th>Ambulance_Type</th>
                <th>Vehicle_NO</th>
                <th>Contact_No</th>
                <th>Driver_Name</th>
            </tr>
            <tr>
                {% for ambs in ambs %}
                <td>{{ambs.Ambulance_Category}}</td>
                <td>{{ambs.Ambulance_Type}}</td>
                <td>{{ambs.Vehicle_NO}}</td>
                <td>{{ambs.Contact_No}}</td>
                <td>{{ambs.Driver_Name}}</td>
                <td><a href=>Transfer</a> </td> 
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
{% endblock %}
