{% extends 'hospindex.html' %}
{% block content %}
<html>
    <head>
        <title>Ambulance table</title>
    </head>
    <body>
        <h2>Ambulance data</h2>
        <table border ="2">
            <tr>
                <th>Ambulance_Category</th>
                <th>Ambulance_Type</th>
                <th>Vehicle_NO</th>
                <th>Contact_No</th>
                <th>Driver_Name</th>
            </tr>
            <tr>
                {% for ambulance in ambulances %}
                <td>{{ambulance.Ambulance_Category}}</td>
                <td>{{ambulance.Ambulance_Type}}</td>
                <td>{{ambulance.Vehicle_NO}}</td>
                <td>{{ambulance.Contact_No}}</td>
                <td>{{ambulance.Driver_Name}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
{% endblock %}
