{% extends 'hospatientindex.html' %}
{% block content %}
<html>
    <head>
        <title>Doctors Details</title>
    </head>
    <body>
        <h2>Doctors Data</h2>
        <table border =2>
            <tr>
                <th>Doctor Name</th>
                <th>Photo</th>
                <th>Gender</th>
                <th>DOB</th>
                <th>Specialisation</th>
                <th>Year Of Experience</th>
                <th>Contact No</th>
                <th>Consultation Fee</th>
                
            </tr>
            
            <tr>
                {% for doctorr in doctorrs %}
                <td>{{doctorr.doctor_name}}</td>
                <td>{{doctorr.photo}}</td>
                <td>{{doctorr.gender}}</td>
                <td>{{doctorr.DOB}}</td>
                <td>{{doctorr.specialisation}}</td>
                <td>{{doctorr.year_of_experience}}</td>
                <td>{{doctorr.contact_no}}</td>
                <td>{{doctorr.consultation_fee}}</td>
                <td><a href="{% url 'appointment' doctorr.login_id_id %}">Appointment</a></td>
                
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
{% endblock %}