{% extends 'doctindex.html' %}
{% block content %}
<html>
    <body>
        <form method="GET">
            {% csrf_token %}
            <input type="text" id="search" name="search">
            <button type="submit">Search</button>
          </form>
          
        <h2>Medicine</h2>
        <table class="table table-striped">
            <tr>
                <th>Medicine Category</th>
                <th>Company Name</th>
                <th>Medicine Name</th>
                <th>Medicine Details</th>
                <th>Amount</th>
            </tr>
            <tr>
                {% for med in meds %}
                <td>{{med.medicine_category}}</td>
                <td>{{med.company_name}}</td>
                <td>{{med.medicine_name}}</td>
                <td>{{med.medicine_details}}</td>
                <td>{{med.amount }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No Medicine</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
{% endblock %}