{% extends 'patindex.html' %}
{% block content %}
{% load static %}
<br><br>
<form method="GET">
  {% csrf_token %}
  <input type="text" id="search" name="search">
  <button type="submit">Search</button>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Hospital Name</th>
      <th>Address</th>
      <th>District</th>
      <th>City</th>
      <th>Contact No</th>
      <th>Email</th>
    </tr>
  </thead>
  <body>
    {% for hospital in hospitals %}
    <tr>
      <td>{{hospital.Hospital_Name}}</td>
      <td>{{hospital.Address}}</td> 
      <td>{{hospital.District}}</td>
      <td>{{hospital.City}}</td>
      <td>{{hospital.Contact_No}}</td>
      <td>{{hospital.Login_id.Email}}</td>
      <td>
        <a href="{% url 'doctor_search' hospital.id %}">Doctor</a>
      </td>
    </tr>
    {% endfor %}
  </body>
</table>
{% endblock %}

