{% extends 'hospindex.html' %}
{% block content %}
<html>
    <head>
        <title>Location Details</title>
    </head>
    <body>
        <h2>Location Data</h2>
        <table border =2>
            <tr>
                <th>Location</th>
                <th>Patient Name</th>
                <th>Driver Name</th>
                <th>Hospital Name</th>
                <th>Current Date</th>   
            </tr>
            <tr>
                {% for location in locations %}
                <td>
                    <a href="https://www.google.com/maps?q={{ location.latitude }},{{ location.longitude }}" target="_blank">View Location on Google Maps</a>
</td>
                <td>{{location.pat_id.name}}</td>
                <td>{{location.amb_login_id.Driver_Name}}</td>
                <td>{{location.hosp_id.Hospital_Name}}</td>
                <td>{{location.current_date}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No Location</td>
            </tr>
            {% endfor %}
            
        </table>
    </body>
</html>
{% endblock %}