{% extends 'hospatientindex.html' %}
{% block content %}
<html>
    <body>
        <h2>Appointment</h2>
        <table border ="2">
            <tr>
                <th>Patient Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Url</th>
                <th>Payment Status</th>
                <th>Cancel Status</th>
            </tr>
            <tr>
                {% for appointment in appointments %}
                <td>{{appointment.patient_login_id.patient.name}}</td>
                <td>{{appointment.Date}}</td>
                <td>{{appointment.Time}}</td>
                <td><a href="{{ appointment.Url }}" target="_blank">Video Conference</a></td>
                {% if appointment.Payment_Status == 1 %}
                <td>Paid</td>
                {% else %}
                <td>Unpaid</td>
                {% endif %}
                {% if appointment.Cancel_status == 1 %}
                <td>Cancelled</td>
               <td> <a href="{% url 'delete_appointment' appointment.id %}">Delete</a></td>
               {% else %}
                <td>Appointment Active</td>
                <td>
                    <a href="{% url 'edit_appointment' appointment.id %}">Edit</a> |
                    <a href="{% url 'cancel_appointment' appointment.id %}">Cancel</a>
                </td>  
                {% endif %}
            
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No paid appointment</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
{% endblock %}
